@inject HttpClient Http
@page "/"

<div class="search-container">
    <h1>Country Search</h1>
    <div class="search-input">
        <input type="text" />
        <button type="submit"> Search </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Country</th>
                <th>Capital</th>
                <th>Region</th>
                <th>Population</th>
            </tr>
        </thead>
    </table>

</div>

@code {
    private Root[] data;

    protected override async Task OnInitializedAsync()
    {
        string url = "https://restcountries.eu/rest/v2/all";
        data = await Http.GetFromJsonAsync<Root[]>(url);

        foreach (var d in data)
        {
            Console.WriteLine(d.name + "  " + d.capital + "  " + d.region + "  " + d.population);
        }
    }
}



