@inject HttpClient Http
@page "/"

<div class="search-container">
    <h1>Food API</h1>
    <div class="search-input">
        <input type="text" />
        <button type="submit"> Search </button>
    </div>

    <!--
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in data)
            {
                <tr>
                    <td>@d.Name</td>
                </tr>
            }
        </tbody>
    </table>
        -->

</div>


@code {
    private Country[] data;

    protected override async Task OnInitializedAsync()
    {
        string url = "https://restcountries.eu/rest/v2/all";
        data = await Http.GetJsonAsync<Country[]>(url);
    }

    public class Country
    {
        public String Name { get; set; }
    }
}



